html,body {
    background-color:#A5CEEF;
    color: #1A61AC;
}

a {
    color:#1A61AC;
}
a:hover, .styleswitch:hover {
    color:#144670;
}
#maincol a:hover {
    color:#144670;
    text-decoration: none;
    border-bottom: 1px #144670 dashed;
}


h2 {
    color:#1A61AC;
}
h2:hover {
    color: #144670;
}

#menu {
    color:#1A61AC;
}

#menu a {
    color: #EAF3FB;
}
#menu a:hover {
    color:#1A61AC;
}

#recentcomments {
    color:#EAF3FB;
}

#recentcomments a:hover {
    color:#1A61AC;
}

h2.contentheader a {
    color:#EAF3FB;
}

h2.contentheader a:hover,
h2.contentheader a:active {
    color:#1A61AC;
}

.permalink, .permalink a {
    color:#EAF3FB;
}

.permalink a:hover {
    color:#1A61AC;
}

blockquote p {
    color:#1A61AC;
}

label {
    color:#1A61AC;
}

#s, #submit {
    background-color:#A5CEEF;
    border:1px solid #1A61AC;
    color:#505050;
}

#author, #email, #url, #comment {
    border:1px solid #1A61AC;
}

.left {
    border:1px solid #1A61AC;
}

.right {
    border:1px solid #1A61AC;
}

.center {
    border:1px solid #1A61AC;
}

.postinfotext {
    color:#1A61AC;
    border-top:1px dashed #1A61AC;
    border-bottom:1px dashed #1A61AC;
}

.postinfotext a {
    color:#1A61AC;
}
.postinfotext a:hover {
    color:#144670;
}

.commentheader, .commenticon, .commenticon a {
    color:#1A61AC;
}
.commenticon a:hover {
    color:#144670;
}

.commenttext, .commenttext p {
    color:#1A61AC;
}

.post-author, .bypostauthor {
    border: solid 0.25em #1A61AC;
}

.wp-caption {
    border:1px solid #1A61AC;
    background-color:#A5CEEF;
}

.navigation, .navigation a {
    color:#1A61AC;
}
.navigation a:hover {
    color:#EAF3FB;
}

.copyright, .copyright a {
    color: #EEE;
}
