html,body {
    background-color:#AFAFAF;
    color: #515151;
}

a {
    color:#515151;
}
a:hover, .styleswitch:hover {
    color: #f6f6f6;
}
#maincol a:hover {
    color:#F6F6F6;
    text-decoration: none;
    border-bottom: 1px #F6F6F6 dashed;
}

h2.contentheader a {
    color: #f6f6f6;
}
h2.contentheader a:hover {
    color: #515151;
    border:none;
}

h2 {
    color:#515151;
}

h2:hover, h2:active {
    color:#F6F6F6;
}


#menu, #menu a, #menu li, #menu li a {
    color:#898989;
}
#menu a:hover, #menu li a:hover {
    color:#F6F6F6;
}

.permalink, .permalink a {
    color:#F6F6F6;
}
.permalink a:hover {
    color:#515151;
}

blockquote p {
    color:#515151;
}

label {
    color:#515151;
}

#s, #submit {
    background-color:#CFCFCF;
    border:1px solid #515151;
    color:#505050;
}

#author, #email #url, #comment {
    border:1px solid #515151;
}

.left {
    border:1px solid #515151;
}

.right {
    border:1px solid #515151;
}

.center {
    border:1px solid #515151;
}

.postinfotext {
    color:#515151;
    border-top:1px dashed #515151;
    border-bottom:1px dashed #515151;
}
.postinfotext a {
    color:#515151;
}
.postinfotext a:hover {
    color:#515151;
}

.commentheader, .commenticon, .commenticon a {
    color:#515151;
}
.commenticon a:hover {
    color:#333;
}

.commenttext, .commenttext p {
    color:#515151;
}

.post-author, .bypostauthor {
    border: solid 0.25em #555;
}

.wp-caption {
    border:1px solid #515151;
    background-color:#CFCFCF;
}

.navigation, .navigation a {
    color:#515151;
}
.navigation a:hover {
    color:#515151;
}

.copyright, .copyright a {
    color: #CCC;
}
