html,body {
    background-color:#AFAFAF;
}

#header h1 {
    color:#898989;
}

#header h1 a {
    color:#898989;
}

#header h1 a:hover {
    color:#F6F6F6;
}

#header h2 {
    color:#515151;
}

#menu {
    color:#515151;
}

#menu a {
    color:#515151;
}

#menu a:hover {
    color:#515151;
}

h2 {
    color:#515151;
}

h2:hover {
    color:#F6F6F6;
}

h2:active {
    color:#515151;
}

#menu ul li {
    color:#F6F6F6;
}

#menu ul li a {
    color:#F6F6F6;
}

#menu ul li a:hover {
    color:#515151;
}

#menu ul li ul li a {
    color:#F6F6F6;
}

#menu ul li ul li a:hover {
    color:#515151;
}

#menu ul li ul li ul li a {
    color:#F6F6F6;
}

#menu ul li ul li ul li a:hover {
    color:#515151;
}

#menu ul li ul li ul li ul li a {
    color:#F6F6F6;
}

#menu ul li ul li ul li ul li a:hover {
    color:#515151;
}

#recentcomments {
    color:#F6F6F6;
}

#recentcomments a {
    color:#F6F6F6;
}

#recentcomments a:hover {
    color:#515151;
}

#maincol {
    color:#515151;
}

#maincol h2 a {
    color:#F6F6F6;
}

#maincol h2 a:hover {
    color:#515151;
}

#maincol p {
    color:#515151;
}

#maincol a {
    color:#515151;
}

#maincol a:hover {
    color:#F6F6F6;
    text-decoration: none;
    border-bottom: 1px #F6F6F6 dashed;
}

#maincol ul {
    color:#515151;
}

#maincol ol {
    color:#515151;
}

h2.contentheader {
    color:#F6F6F6;
}

h2.contentheader:hover {
    color:#515151;
}

h2.contentheader:active {
    color:#515151;
}

.permalink {
    color:#F6F6F6;
}

.permalink a {
    color:#F6F6F6;
}

.permalink a:hover {
    color:#515151;
}

#wp-calendar {
    color:#F6F6F6;
}

#wp-calendar a {
    color:#515151;
}

#wp-calendar a:hover {
    color:#515151;
}

blockquote p {
    color:#515151;
}

label {
    color:#515151;
}

#s,#submit {
    background-color:#CFCFCF;
    border:1px solid #515151;
    color:#505050;
}

#author,#email,#url,#comment {
    border:1px solid #515151;
}

.left {
    border:1px solid #515151;
}

.right {
    border:1px solid #515151;
}

.center {
    border:1px solid #515151;
}

.postinfotext {
    color:#515151;
    border-top:1px dashed #515151;
    border-bottom:1px dashed #515151;
}

.postinfotext a {
    color:#515151;
}

.postinfotext a:hover {
    color:#515151;
}

.commentheader {
    color:#515151;
}

.commenticon {
    color:#515151;
}

.commenticon a {
    color:#515151;
}

.commenticon a:hover {
    color:#333;
}

.commenttext {
    color:#515151;
}

.commenttext p {
    color:#515151;
}

.wp-caption {
    border:1px solid #515151;
    background-color:#CFCFCF;
}

.navigation {
    color:#515151;
}

.navigation a {
    color:#515151;
}

.navigation a:hover {
    color:#515151;
}

.copyright, .copyright a {
    color: #CCC;
}
