html,body {
    background-color:#FFF;
}

#header h1 {
    color:#BBB;
}

#header h1 a {
    color:#BBB;
}

#header h1 a:hover {
    color:#333;
}

#header h2 {
    color:#888;
}

#menu {
    color:#BBB;
}

#menu a {
    color:#BBB;
}

#menu a:hover {
    color:#BBB;
}

h2 {
    color:#888;
}

h2:hover {
    color:#333;
}

h2:active {
    color:#333;
}

#menu ul li {
    color:#BBB;
}

#menu ul li a {
    color:#BBB;
}

#menu ul li a:hover {
    color:#000;
}

#menu ul li ul li a {
    color:#BBB;
}

#menu ul li ul li a:hover {
    color:#000;
}

#menu ul li ul li ul li a {
    color:#BBB;
}

#menu ul li ul li ul li a:hover {
    color:#000;
}

#menu ul li ul li ul li ul li a {
    color:#BBB;
}

#menu ul li ul li ul li ul li a:hover {
    color:#000;
}

#recentcomments {
    color:#AAA;
}

#recentcomments a {
    color:#AAA;
}

#recentcomments a:hover {
    color:#000;
}

#maincol h2 a {
    color:#BBB;
}

#maincol h2 a:hover {
    color:#333;
}

#maincol p {
    color:#333;
}

#maincol a {
    color:#333;
}

#maincol a:hover {
    color:#333;
    text-decoration: none;
    border-bottom: 1px #333 dashed;
}

#maincol ul {
    color:#333;
}

#maincol ol {
    color:#333;
}

h2.contentheader {
    color:#AAA;
}

h2.contentheader:hover {
    color:#333;
}

h2.contentheader:active {
    color:#333;
}

.permalink {
    color:#AAA;
}

.permalink a {
    color:#AAA;
}

.permalink a:hover {
    color:#333;
}

#wp-calendar {
    color:#000;
}

#wp-calendar a {
    color:#333;
}

#wp-calendar a:hover {
    color:#000;
}

blockquote p {
    color:#333;
}

label {
    color:#333;
}

#s,#submit {
    background-color:#FFF;
    border:1px solid #AAA;
    color:#505050;
}

#author,#email,#url,#comment {
    border:1px solid #AAA;
}

.left {
    border:1px solid #BBB;
}

.right {
    border:1px solid #BBB;
}

.center {
    border:1px solid #AAA;
}

.postinfotext {
    color:#AAA;
    border-top:1px dashed #AAA;
    border-bottom:1px dashed #AAA;
}

.postinfotext a {
    color:#AAA;
}

.postinfotext a:hover {
    color:#333;
}

.commentheader {
    color:#AAA;
}

.commenticon {
    color:#AAA;
}

.commenticon a {
    color:#AAA;
}

.commenticon a:hover {
    color:#333;
}

.commenttext {
    color:#AAA;
}

.commenttext p {
    color:#AAA;
}

.wp-caption {
    border:1px solid #ddd;
    background-color:#f3f3f3;
}

.navigation {
    color:#AAA;
}

.navigation a {
    color:#AAA;
}

.navigation a:hover {
    color:#333;
}
