html,body {
    background-color:#FFF;
    color: #333;
}

a {
    color:#BBB;
}
a:hover {
    color:#333;
}
#maincol a:hover {
    color:#333;
    text-decoration: none;
    border-bottom: 1px #333 dashed;
}

#header h2 {
    color:#888;
}

h2 {
    color:#888;
}

h2:hover, h2:active {
    color:#333;
}

#recentcomments {
    color:#AAA;
}

#maincol a {
    color: #333;
}

#maincol h2.contentheader a {
    color:#333;
}

#maincol h2.contentheader a:hover {
    color:#AAA;
}
#maincol h2.contentheader a:active {
    color:#AAA;
}

.permalink, .permalink a {
    color:#AAA;
}
.permalink a:hover {
    color:#333;
}

blockquote p {
    color:#333;
}

label {
    color:#333;
}

#s,#submit {
    background-color:#FFF;
    border:1px solid #AAA;
    color:#505050;
}

#author,#email,#url,#comment {
    border:1px solid #AAA;
}

.left {
    border:1px solid #BBB;
}

.right {
    border:1px solid #BBB;
}

.center {
    border:1px solid #AAA;
}

.postinfotext {
    color:#AAA;
    border-top:1px dashed #AAA;
    border-bottom:1px dashed #AAA;
}

.postinfotext a {
    color:#AAA;
}

.postinfotext a:hover {
    color:#333;
}

.commentheader, .commenticon, .commenticon a {
    color:#AAA;
}


.commenticon a:hover {
    color:#333;
}

.commenttext, .commenttext p {
    color:#AAA;
}


.wp-caption {
    border:1px solid #ddd;
    background-color:#f3f3f3;
}

.navigation, .navigation a {
    color:#AAA;
}


.navigation a:hover {
    color:#333;
}

.copyright, .copyright a {
    color: #CCC;
}
